####################################
# Terraform
####################################

# Terraform cache
.terraform/

# Terraform state
*.tfstate
*.tfstate.*
crash.log

# Terraform variables (podem conter segredos)
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI config
.terraformrc
terraform.rc

####################################
# Terraform local outputs
####################################

terraform/out.json
out.json

####################################
# Build / dist
####################################

dist/
**/dist/

####################################
# Archives
####################################

*.zip

####################################
# Python
####################################

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/

####################################
# OS files
####################################

.DS_Store
Thumbs.db

####################################
# IDE
####################################

.vscode/
.idea/

####################################
# AWS CLI installer leftovers
####################################

aws/
awscliv2.zip